@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

body {
  font-family: 'Just Another Hand', cursive;
  background: #502f4c;
}

.wrapper {
  background: #502f4c;
  text-align: center;
}

.wrapper input {
  border-color: #502f4c;
  width: 15vw;
  height: 5vh;
  font-size: 1rem;
  background: #502f4c;
  color: #c8b8db;
}

.wrapper button {
  width: 15vw;
  height: 5vh;
  font-size: 1rem;
  border-color: #502f4c;
  background: #502f4c;
  color: #f9f4f5;
}

h1 {
  color: #f9f4f5;
  font-size: 9rem;
}
